{% extends "admin/base_site.html"%}

{% block content %}
<H1>Select the parent question</H1>
<p>The other question will be selected as the child question.</p>
<form action="" method="post" name="action">
    {% csrf_token %}
    {{ form }}
    {% for obj in query %}
    <input type="hidden" name="_selected_action" value="{{obj.pk}}">
    {% endfor %}
    <input type="hidden" name="action" value="create_relationship">
    <input type="submit" name="apply" value="Update status"/>

</form>

{% endblock %}