version: '3'

services:
  web:
    build: . #Build from current directory 
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes: #Map current directory to backend directory 
      -.:/backend
    ports:
    - "8000:8000"
  db:
    image: postgres
    restart: always
    environment: 
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: OPL
    volumes: 
      - ./

  

    
